* {
    box-sizing: border-box;
}

form.example input[type=text] {
    margin-top: 15px;
    padding: 10px;
    font-size: 10px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
}

form.example button {
    margin-top: 15px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 10px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

#button {
    color: rgb(12, 12, 12);
    font-size: larger;
}

#button:hover {
    background-color: springgreen;
}

#but {
    color: rgb(12, 12, 12);
    font-size: larger;
}

#but:hover {
    background-color: yellow;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

* {
    margin: 10;
    padding: 5;
}

.header {
    height: 100vh;
}

.navbar-style {
    box-shadow: 0 5px 10px grey;
}

.logo {
    height: 48px;
    padding-left: 2px 10px;
}

.icon-bar {
    background-color: brown;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    margin-left: 1em;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}